.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: cadetblue; */
}

button {
  font-size: 2em;
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
 }

 ul { display: flex;
  padding: 0;
 }

 li {
  margin: 0 20px;
  list-style: none;
  padding: 0;
 }

 .instructions{
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .instructions img {
  width: 100px;
  height: 100px;
 }